<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.appDataDictionaryColler">
  <select id="getapkname" resultType="java.lang.Integer">
    select count(1) FROM  app_info where apk_name=#{apkname,jdbcType=VARCHAR}
  </select>
  <insert id="getappinfoAdd">
    insert into app_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="softwareName != null">
        software_name,
      </if>
      <if test="apkName != null">
        apk_name,
      </if>
      <if test="supportRom != null">
        support_rom,
      </if>
      <if test="interfaceLanguage != null">
        interface_language,
      </if>
      <if test="softwareSize != null">
        software_size,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="devId != null">
        dev_id,
      </if>
      <if test="appInfo != null">
        app_info,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="onSaleDate != null">
        on_sale_date,
      </if>
      <if test="offSaleDate != null">
        off_sale_date,
      </if>
      <if test="flatformId != null">
        flatform_id,
      </if>
      <if test="categoryLevel3 != null">
        category_level3,
      </if>
      <if test="downloads != null">
        downloads,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="creationDate != null">
        creation_date,
      </if>
      <if test="modifyBy != null">
        modify_by,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="categoryLevel1 != null">
        category_level1,
      </if>
      <if test="categoryLevel2 != null">
        category_level2,
      </if>
      <if test="logoPicPath != null">
        logo_pic_path,
      </if>
      <if test="logoLocPath != null">
        logo_loc_path,
      </if>
      <if test="versionId != null">
        version_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="softwareName != null">
        #{softwareName,jdbcType=VARCHAR},
      </if>
      <if test="apkName != null">
        #{apkName,jdbcType=VARCHAR},
      </if>
      <if test="supportRom != null">
        #{supportRom,jdbcType=VARCHAR},
      </if>
      <if test="interfaceLanguage != null">
        #{interfaceLanguage,jdbcType=VARCHAR},
      </if>
      <if test="softwareSize != null">
        #{softwareSize,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="devId != null">
        #{devId,jdbcType=BIGINT},
      </if>
      <if test="appInfo != null">
        #{appInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIGINT},
      </if>
      <if test="onSaleDate != null">
        #{onSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offSaleDate != null">
        #{offSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flatformId != null">
        #{flatformId,jdbcType=BIGINT},
      </if>
      <if test="categoryLevel3 != null">
        #{categoryLevel3,jdbcType=BIGINT},
      </if>
      <if test="downloads != null">
        #{downloads,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryLevel1 != null">
        #{categoryLevel1,jdbcType=BIGINT},
      </if>
      <if test="categoryLevel2 != null">
        #{categoryLevel2,jdbcType=BIGINT},
      </if>
      <if test="logoPicPath != null">
        #{logoPicPath,jdbcType=VARCHAR},
      </if>
      <if test="logoLocPath != null">
        #{logoLocPath,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.mapper.AppInfo">
    <!--@mbg.generated-->
    update app_info
    <set>
      <if test="softwareName != null">
        software_name = #{softwareName,jdbcType=VARCHAR},
      </if>
      <if test="apkName != null">
        apk_name = #{apkName,jdbcType=VARCHAR},
      </if>
      <if test="supportRom != null">
        support_rom = #{supportRom,jdbcType=VARCHAR},
      </if>
      <if test="interfaceLanguage != null">
        interface_language = #{interfaceLanguage,jdbcType=VARCHAR},
      </if>
      <if test="softwareSize != null">
        software_size = #{softwareSize,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="devId != null">
        dev_id = #{devId,jdbcType=BIGINT},
      </if>
      <if test="appInfo != null">
        app_info = #{appInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BIGINT},
      </if>
      <if test="onSaleDate != null">
        on_sale_date = #{onSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offSaleDate != null">
        off_sale_date = #{offSaleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flatformId != null">
        flatform_id = #{flatformId,jdbcType=BIGINT},
      </if>
      <if test="categoryLevel3 != null">
        category_level3 = #{categoryLevel3,jdbcType=BIGINT},
      </if>
      <if test="downloads != null">
        downloads = #{downloads,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null">
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null">
        modify_by = #{modifyBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryLevel1 != null">
        category_level1 = #{categoryLevel1,jdbcType=BIGINT},
      </if>
      <if test="categoryLevel2 != null">
        category_level2 = #{categoryLevel2,jdbcType=BIGINT},
      </if>
      <if test="logoPicPath != null">
        logo_pic_path = #{logoPicPath,jdbcType=VARCHAR},
      </if>
      <if test="logoLocPath != null">
        logo_loc_path = #{logoLocPath,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>